<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div class="row">
    <div class="col-md-12">
        <m-portlet>
            <ng-container mPortletHeadTitle>
                Cliente
            </ng-container>
            <ng-container mPortletBody>
                <mat-tab-group>
                    <mat-tab label="Lista">
                        <ng-template matTabContent>
                                <own-m-data-table-list-cli></own-m-data-table-list-cli>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="Información">
                        <ng-template matTabContent>
                            <m-mostrar-informacion></m-mostrar-informacion>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="Registrar nuevo">
                        <ng-template matTabContent>
                                <m-own-auth-notice></m-own-auth-notice>
                                <m-form-new-client></m-form-new-client>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </ng-container>
        </m-portlet>
    </div>
</div>