<form class="" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
      <mat-form-field class="full-width">
        <mat-label>Nombre completo</mat-label>
        <input matInput type="text" name="nombres" placeholder="Nombre completo" autocomplete="off" [(ngModel)]="model.nombres"
          #nombres="ngModel" required uppercase>
      </mat-form-field>
      <mat-form-field class="full-width" >
        <mat-label>D.N.I. o C.I.</mat-label>
        <input matInput type="text" name="dni" placeholder="D.N.I. o C.I." autocomplete="off" [(ngModel)]="model.dni"
          #dni="ngModel" required uppercase>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Celular o número de contacto</mat-label>
        <input matInput type="text" name="celular" placeholder="Celular o número de contacto" autocomplete="off"
          [(ngModel)]="model.celular" #celular="ngModel" required uppercase>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Correo electrónico</mat-label>
        <input matInput type="email" name="email" placeholder="Correo electrónico" autocomplete="off" [(ngModel)]="model.email"
          #email="ngModel">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Código de referencia</mat-label>
        <input matInput type="text" name="code_ref_padre_in" placeholder="Código de referencia" autocomplete="off"
          [(ngModel)]="model.code_ref_padre_in" #code_ref_padre_in="ngModel" uppercase>
      </mat-form-field>
  
</form>
<!--end::Form-->

<!--begin::Action-->
<div class="m-login__action m-login__action--fit">

  <m-spinner-button [options]="spinner" (click)="submit()">Registrar</m-spinner-button>
</div>