<mat-card>
	<mat-card-content >
		<!-- use ng-container[mPortletBody] for the body content -->
		<ng-container mPortletBody>
			<!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
			<div perfectScrollbar class="mat-table__wrapper mat-table__wrapper--dashboard">
				<!-- Checkbox Column -->
				<!-- Table with selection -->
				<!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->
				<table mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>
						 
					<ng-container matColumnDef="tipo">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
						<td mat-cell *matCellDef="let data">{{data.tipo}}</td>
					</ng-container>

					<ng-container matColumnDef="cantidad">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
						<td mat-cell *matCellDef="let data">{{data.cantidad}}</td>
					</ng-container>

					<ng-container matColumnDef="montoAnterior">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>Monto Anterior</th>
						<td mat-cell *matCellDef="let data">{{data.montoAnterior}}</td>
					</ng-container>


					<ng-container matColumnDef="montoActual">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>Monto Actual</th>
						<td mat-cell *matCellDef="let data">{{data.montoActual}}</td>
					</ng-container>


					<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
				</table>

				<div class="mat-table__message" *ngIf="!dataSource.hasItems">No se encontraron datos</div>
			</div>
			<!-- start: BOTTOM -->
			<div class="mat-table__bottom">
				<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
				<mat-paginator [pageSize]="6" [pageSizeOptions]="[3, 6, 15]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
			</div>
			<!-- end: BOTTOM -->
		</ng-container>
	</mat-card-content>

</mat-card>




<!-- <m-portlet >
	
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head">
				<div class="valign-wrapper">
						<div class="left-align">
							
						</div>
							
						
						
			  </div>
					  

			
		</div>
	</ng-container>

	
</m-portlet> -->