<m-own-auth-notice></m-own-auth-notice>
<m-form (brake)="onBrake($event)"></m-form>
<table class="table">
  <tr >
    <th>Código de referencia</th>
    <th>Nombres</th>
    <th>D.N.I. o C.I.</th>
    <th>Contacto</th>
    <th>Email</th>
    <th>Última Transacción</th>
    <th>Tipo</th>
    <th>Total Acumulado</th>
  </tr>
  <tr *ngFor=" let clientInfo of modelResponse">
      <td>{{clientInfo.unique_code}}</td>
      <td>{{clientInfo.nombres}}</td>  
      <td>{{clientInfo.dni}}</td>
      <td>{{clientInfo.celular}}</td>
      <td>{{clientInfo.email}}</td>
      <td>{{clientInfo.cantidad_ultima_transaccion}}</td>
      <td>{{clientInfo.tipo}}</td>
      <td>{{clientInfo.monto}}</td>
  </tr>
</table>
