<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<div class="row">


    <div class="col-md-12">
        <m-portlet>


            <ng-container mPortletHeadTitle>

                <!-- <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text ">
                        Dashboard 2
                    </h3>
                </div> -->


            </ng-container>

            <ng-container mPortletHeadTools style="display:block">
                Por Comenzar
            </ng-container>

            <ng-container mPortletBody>
                Por Comenzar
            </ng-container>
        </m-portlet>
    </div>

</div>