<form class="" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
  <mat-form-field class="full-width">
    <mat-label>Código de referencia del cliente</mat-label>
    <input matInput type="text" name="unique_code" placeholder="Código de referencia del cliente" autocomplete="off" [(ngModel)]="model.unique_code"
      #unique_code="ngModel" required uppercase>
  </mat-form-field>
  
</form>
<!--end::Form-->

<!--begin::Action-->
<div class="m-login__action m-login__action--fit">

<m-spinner-button [options]="spinner" (click)="submit()">Buscar</m-spinner-button>
</div>