<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<div class="row">


    <div class="col-md-12">
        <m-portlet>


            <ng-container mPortletHeadTitle>

                Cuenta


            </ng-container>

            

            <ng-container mPortletBody>
                    <m-own-auth-notice></m-own-auth-notice> 
                    <mat-tab-group>
                            <mat-tab label="Movimientos">
                              <ng-template matTabContent>
                                    <m-historial-cuenta ></m-historial-cuenta>
                              </ng-template>
                            </mat-tab>
                            <mat-tab label="Aportar">
                                    <ng-template matTabContent>
                                          
                                            <m-abonar></m-abonar>
                                    </ng-template>
                                  </mat-tab>
                            <mat-tab label="Retiro">
                              <ng-template matTabContent>
                                    <m-retirar-dinero></m-retirar-dinero>
                              </ng-template>
                            </mat-tab>
                            <mat-tab label="Dar Regalo">
                                <ng-template matTabContent>
                                    <m-dar-regalo></m-dar-regalo>
                                </ng-template>
                              </mat-tab>
                            
                          </mat-tab-group>
                
                
            </ng-container>
        </m-portlet>
    </div>

</div>
