<form class="" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
  <mat-form-field class="full-width">
    <mat-label>Cantidad de la factura o nota de venta</mat-label>
    <input matInput type="number" min="0" step="0.01" name="cantidad" placeholder="Cantidad factura o nota de venta"
      autocomplete="off" [(ngModel)]="model.cantidad" #cantidad="ngModel" required>
  </mat-form-field>

  <mat-label style="padding-right:50px">Tipo de cliente</mat-label>
    <mat-radio-group name="radiobtn" (change)="changeState()" [(ngModel)]="model.radiobtn"  #radiobtn="ngModel" required>
      <mat-radio-button value="0.05">Cliente Minorista</mat-radio-button>
      <mat-radio-button value="0.10">Cliente Mayorista</mat-radio-button>
  </mat-radio-group>

  <mat-form-field class="full-width">
      <mat-label>Abono</mat-label>
      <input matInput disabled="disabled" type="number" min="0" step="0.01" name="abono" placeholder="Abono" autocomplete="off" [(ngModel)]="model.abono"
        #abono="ngModel" required>
    </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Código del cliente</mat-label>
    <input matInput type="text" name="unique_code_client" placeholder="Código de referencia" autocomplete="off"
      [(ngModel)]="model.unique_code_client" #unique_code_client="ngModel" required uppercase>
  </mat-form-field>

</form>
<div class="m-login__action m-login__action--fit">
  <m-spinner-button [options]="spinner" (click)="submit()">Registrar</m-spinner-button>
</div>